
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

**/.mvn
**/mvnw
**/mvnw.cmd
#忽略编译的文件
#**/target/
#target/*.txt
**/*.iml
.idea

